<ion-view view-title="Plugins">
  <ion-content>
    <div class="row plugins-list">
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/note_2.png" alt="">
          </div>
          <div class="title">Google Calendar</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/weather.png" alt="">
          </div>
          <div class="title">Weather</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/dumbbell.png" alt="">
          </div>
          <div class="title">Morning Exercises</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/note_2.png" alt="">
          </div>
          <div class="title">Google Calendar</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/weather.png" alt="">
          </div>
          <div class="title">Weather</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/dumbbell.png" alt="">
          </div>
          <div class="title">Morning Exercises</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/note_2.png" alt="">
          </div>
          <div class="title">Google Calendar</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/weather.png" alt="">
          </div>
          <div class="title">Weather</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/dumbbell.png" alt="">
          </div>
          <div class="title">Morning Exercises</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/note_2.png" alt="">
          </div>
          <div class="title">Google Calendar</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/weather.png" alt="">
          </div>
          <div class="title">Weather</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/dumbbell.png" alt="">
          </div>
          <div class="title">Morning Exercises</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/note_2.png" alt="">
          </div>
          <div class="title">Google Calendar</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/weather.png" alt="">
          </div>
          <div class="title">Weather</div>
        </div>
      </div>
      <div class="col col-33 plugin-item">
        <div>
          <div class="icon">
            <img src="img/dumbbell.png" alt="">
          </div>
          <div class="title">Morning Exercises</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
